<p id="notice"><%= notice %></p>

<p>
  <table class="table">
  <tbody>
    <tr>
      <td> Place </td>
      <td> Hours </td><br>
  	<% Service.all.each do |service| %>
      <% if service.user_id == @user.id %>
        <tr>
          <td><%= link_to("#{service.place}", service)%></td>
          <td><%= service.hours %></td>
        </tr> <br>
      <% end %>
    <% end %>
  </table>
</p>

<%= link_to 'Add Service', '/services/new' %>
